/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
/* * { outline: 1px solid red; } */
@media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 per row */
    }
  }

@font-face {
    font-family: 'headerFont';
    src : url('../fonts/Clarendon\ Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.panel {
    width: 100%;
    transition: opacity 0.5s ease, transform 0.5s ease;
    opacity: 1;
    transform: scale(1);
    position: absolute;
    /* top: 0; */
    left: 0;
  }

  .panel.hidden {
    opacity: 0;
    transform: scale(0.95);
    pointer-events: none;
  }
/* 
.hidden {
    display: none !important;
  } */

body {
  background: white;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: #F1F1F1;
}

.top-gif {
    /* position: absolute;
    left:50%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    width: 150px;
    height: 150px;
}


header h1 {
    font-family: 'headerFont';
    text-align: center;
    /* margin-top: 200px; */
    color: black;

}

/* header button {
  background: transparent;
  outline: none;
  color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
} */

.tabs {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    /* margin-top: auto; */
  }
  
  .tabs button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 12px;
  }
  
  .tabs button:hover {
    text-decoration: underline;
  }

  .tabs button.active {
    text-decoration: underline;
  }

/* About section */
#aboutPanel {
    margin-top: 25px;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    /* width: 70%; */
    /* width: auto; */
    margin-left: 50%;
    transform: translate(-50%);
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;

    align-items: center;
    width: 70vw;
    /* height: 50vh; */
    /* height: auto; */
}

#aboutPanel #about-text {
  /* width: 60%; */
  min-width: 0;
  max-width: 40vw;
    padding: 30px;
    display: flex;
    flex-direction: column;
    color:black;
    /* width: 30% */
}

#aboutPanel #profile-image {
    /* padding: 15px; */
    border: 2px solid #F1F1F1;
    /* height: auto; */
    height: 100%;
    width: auto;
    /* max-height: 100%; */
    /* width: auto; */
    /* aspect-ratio: 1; */
    /* align-self: stretch; */
    object-fit: contain;
}

#aboutPanel #about-text h2 {
    font-family: 'headerFont';
    font-size: 40px;
}

#aboutPanel #about-text h3 {
    font-family: 'headerFont';
    font-size: 35px;
    color: rgb(188, 188, 188)
}

#aboutPanel #about-text p {
    margin-top: 40px;
    font-size: 25px;
}
/* #aboutPanel.visible {
  display: block;
} */

/* Side Buttons */
.side-buttons {
    z-index: 1;
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.side-buttons a,
.side-buttons button {
  background: none;
  /* padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center; */
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.side-buttons img {
    width: 100%;
    height:auto;
    /* width: 30px;
    height: 20px; */
}

/* Gallery */
.gallery {
    margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 376px; */
  gap: 16px;
  padding: 80px;
}

.gallery img {
  cursor: pointer;
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  /* cursor: pointer; */
  transition: opacity 0.5s ease, transform 0.5s ease;;
  border: 2px solid #F1F1F1;
}

.gallery img:hover {
  /* cursor: none; */
  transform: scale(1.1);
}

.gallery img.hidden {
  pointer-events: none;
}

.gallery.hidden {
  /* display: none; */
  pointer-events: none;
  /* cursor: default; */
}

/* Lightbox */
#lightbox {
  /* position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: opacity 0.35s ease, visibility 0.35s ease;
  z-index: 100; */
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.85);

  display: flex;
  justify-content: center;
  align-items: center;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  transition: opacity 0.35s ease, visibility 0.35s ease;
  z-index: 1000;
}

/* #lightbox.hidden {
  display: none;
} */

#lightbox.active {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

#lightbox img {
  max-width: 90%;
  max-height: 90%;
  cursor: none;
}

#close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 2rem;
  cursor: pointer;
  font-weight: bold;
}