/* Reset */
* { margin: 0; padding: 0; box-sizing: border-box; }
/* * { outline: 1px solid red; } */
@media (max-width: 768px) {
    .gallery {
      grid-template-columns: repeat(2, 1fr); /* 2 per row */
    }
  }

@font-face {
    font-family: 'headerFont';
    src : url('../fonts/Clarendon LT Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
  background: white;
  color: #fff;
  font-family: Arial, sans-serif;
}

/* Header */
header {
  display: flex;
  /* justify-content: space-between; */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 40px;
  background: #F1F1F1;
}

.top-gif {
    /* position: absolute;
    left:50%; */
    display: flex;
    /* flex-direction: column; */
    justify-content: center;
    align-items: center;
    /* margin-top: 0px; */
    width: 150px;
    height: 150px;
}


header h1 {
    font-family: 'headerFont';
    text-align: center;
    /* margin-top: 200px; */
    color: black;

}

/* header button {
  background: transparent;
  outline: none;
  color: black;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
} */

.tabs {
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 10px;
    /* margin-top: auto; */
  }
  
  .tabs button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    padding: 6px 12px;
  }
  
  .tabs button:hover {
    text-decoration: underline;
  }

  .tabs button:active {
    text-decoration: bold;
  }

/* About section */
#aboutPanel {
  padding: 20px 40px;
  background: #111;
  border-top: 1px solid #333;
  line-height: 1.6;
  display: none;
}
#aboutPanel.visible {
  display: block;
}

/* Side Buttons */
.side-buttons {
  position: fixed;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.side-buttons a,
.side-buttons button {
  background: none;
  /* padding: 10px;
  color: #fff;
  text-decoration: none;
  text-align: center; */
  width: 30px;
  height: 30px;
  border: none;
  cursor: pointer;
}

.side-buttons img {
    width: 100%;
    height:auto;
    /* width: 30px;
    height: 20px; */
}

/* Gallery */
.gallery {
    margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-auto-rows: 376px; */
  gap: 16px;
  padding: 80px;
}

.gallery img {
  width: 100%;
  /* height: 100%; */
  aspect-ratio: 1;
  object-fit: cover;
  object-position: top;
  cursor: pointer;
  transition: transform 0.3s ease;
  border: 2px solid #222;
}

.gallery img:hover {
  transform: scale(1.1);
}

/* Lightbox */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.9);
  display: none;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 100;
}
#lightbox img {
  max-width: 90%;
  max-height: 90%;
}
